<div class="card my-4" style="background-color: #226575" id="categorias">
    <h5 class="card-header" style="color: white">Categorias</h5>
    <div class="card-body">
        <div class="row">
            <%for(let i=0; i < categories.length; i++){%>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a style="color: lightgray" href="/categories/<%=categories[i]._id%>"><%= categories[i].name%></a>
                    </li>
                </ul>
            </div>
            <%}%>
        </div>
    </div>
</div>