<!-- Dashboard AREA -->
<section id="table-area-section" class="" style="margin-bottom: 7rem;">
  <div class="container">

    <!-- //TODO: Criar uma especie de joystick para selecionar diferentes opções no ecrã (norte, este, oeste e sul do botao); -->
    <div id="button-grp" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-lg mb-5" style="border-radius: 50%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus"  data-toggle="tooltip" data-placement="top" title="Ações"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right bg-white">
          <button data-toggle="modal" data-target="#addPostModal" class="dropdown-item text-dark" type="button">Adicionar Postagem</button>
          <button class="dropdown-item text-dark" type="button " data-toggle="modal" data-target="#addCategoryModal">Adicionar Categoria</button>
        </div>
      </div>
      <!-- <a href="posts/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Adicionar Postagem</a> -->
    </div>


    <div id="grid1" style="display: none;">
      <%-include('../partials/_menu1')%>
    </div>

    <div id="grid2" style="display: block;">
      <%-include('../partials/_menu2')%>
    </div>

    <div id="grid3" style="display: none;">
      <%-include('../partials/_menu3')%>
    </div>
</section>

<script type="text/javascript">
  function favPost(id) {
    console.log(id);
    var favicon = $('#favicon' + id);
    favicon.css('color', '#FFFF00');
  };

  function toggleVisibility(id) {
    if ($('[id$=card-row]').hasClass('col-lg-12')) {
      $('#postBody' + id).toggle('slow');
    } else {
      $('#postBody' + id).css('display', 'none');
      $('#jumbotron').css('display', 'block');
    }
  };

  function jumbotronRender(aux, title) {
    var postBody = $('#pstBody' + aux).html();
    var postTitle = $('#postTitle' + aux).html();
    var postCategory = $('#postCategory' + aux).html();
    var postDate = $('#postDate' + aux).html();
    var postAuthor = $('#postAuthor' + aux).html();
    postAuthor = postAuthor.replace('text-light', '');
    console.dir(postAuthor);
    let postComments = $('#postComments' + aux).html();
    document.getElementById('jumboBody').innerHTML = postBody;
    document.getElementById('jumboTitle').innerHTML = postTitle;
    document.getElementById('jumboInfo').innerHTML = '<div class="d-block">' +
      '<b class="text-secondary">' +
      postCategory + '</b></div>' +
      '<div class="d-inline">' + postDate + '</div>' + '<div class="d-inline float-right"> ' +
      postAuthor + ' </div>';
    $('#jumboComments').html(postComments);
  };

  function toggleDefault() {
    $('#grid1').css('display', 'block');
    $('#grid2').css('display', 'none');
    $('#grid3').css('display', 'none');
  }

  function toggleThreeColumns() {
    $('#grid1').css('display', 'none');
    $('#grid2').css('display', 'block');
    $('#grid3').css('display', 'none');
  }

  function toggleTable() {
    $('#grid1').css('display', 'none');
    $('#grid2').css('display', 'none');
    $('#grid3').css('display', 'block');

  }
</script>
