<!-- Dashboard AREA -->
<section id="table-area-section" class="" style="margin-bottom: 7rem;">
  <div class="container">

    <div id="button-grp" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <button type="button" class="btn btn-secondary btn-lg mb-5" style="border-radius: 50%;" data-toggle="modal" data-target="#addPostModal" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus"  data-toggle="tooltip" data-placement="top" title="Adicionar Postagem"></i>
        </button>
    </div>


    <div id="grid1" <%if(format === '4columns'){%> style="display: block;" <%} else {%> style="display: none;"<%}%>>
      <%-include('../partials/_menu1')%>
    </div>

    <div id="grid2" <%if(format === '2columns'){%> style="display: block;" <%} else if(format === undefined){%> style="display: block;" <%} else {%>style="display: none;"<%}%>>
      <%-include('../partials/_menu2')%>
    </div>

    <div id="grid3" <%if(format === 'table'){%> style="display: block;" <%} else {%> style="display: none;"<%}%>>
      <%-include('../partials/_menu3')%>
    </div>
</section>

<script type="text/javascript">
  function favPost(id) {
    var favicon = $('#favicon1' + id);
    favicon.css('color', '#FFFF00');
    var favicon = $('#favicon2' + id);
    favicon.css('color', '#FFFF00');
    $('#formFave-'+id).submit();
  };

  function toggleVisibility(id) {
    if ($('[id$=card-row]').hasClass('col-lg-12')) {
      $('#postBody' + id).toggle('slow');
    } else {
      $('#postBody' + id).css('display', 'none');
      $('#jumbotron').css('display', 'block');
    }
  };

  function toggleHighlight(id) {
    var highlightedCards = $('div.card-header.bg-secondary')
      .attr('class', 'card-header bg-primary text-white my-0 py-0');
    var highlightedCard = $('#card2-' + id)
      .attr('class', 'card-header bg-secondary text-white my-0 py-0');
    var highlightedCard = $('#card1-' + id)
      .attr('class', 'card-header bg-secondary text-white my-0 py-0');

  }

  function jumbotronRender(id) {
    var postBody = $('#pstBody' + id).html();
    var postTitle = $('#postTitle' + id).html();
    var postCategory = $('#postCategory' + id).html();
    var postDate = $('#postDate' + id).html();
    var postAuthor = $('#postAuthor' + id).html();
    postAuthor = postAuthor.replace('text-light', '');
    let postComments = $('#postComments' + id).html();
    let postFiles = $('#postFiles'+id).html();
    if(postFiles !== null){
        $('#jumboFiles').html(postFiles);
    }
    document.getElementById('jumboBody').innerHTML = postBody;
    document.getElementById('jumboTitle').innerHTML = postTitle;
    document.getElementById('jumboInfo').innerHTML = '<div class="d-block">' +
      '<b class="text-secondary">' +
      postCategory + '</b></div>' +
      '<div class="d-inline">' + postDate + '</div>' + '<div class="d-inline float-right"> ' +
      postAuthor + ' </div>';
    $('#jumboComments').html(postComments);
  };

  function toggleDefault() {
    $('#grid1').css('display', 'block');
    $('#grid2').css('display', 'none');
    $('#grid3').css('display', 'none');
  }

  function toggleThreeColumns() {
    $('#grid1').css('display', 'none');
    $('#grid2').css('display', 'block');
    $('#grid3').css('display', 'none');
  }

  function toggleTable() {
    $('#grid1').css('display', 'none');
    $('#grid2').css('display', 'none');
    $('#grid3').css('display', 'block');

  }
</script>
