<div class="card my-4" id="desc">
    <h5 class="card-header bg-dark" style="color: white">Descrição</h5>
    <div class="card-body bg-faded">
        Cria um repositório de artigos e partilha-os contigo ou com um grupo!
    </div>
</div>