<footer class="py-5" style="background-color: #032E3E" id="sobre">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <a target="_blank"
                                                                  href="/users/login"
                                                                  style="color: white">Hap 2018</a></p>
        <p class="m-0 text-center text-white"><a target="_blank" href="https://www.uminho.pt/PT" style="color: white">Universidade
                do Minho</a></p>
        <p class="m-0 text-center text-white"><a target="_blank" href="http://mieti.eng.uminho.pt/"
                                                 style="color: white">Mestrado Integrado em Engenharia de
                Telecomunicações e Informática</a></p>
        <p class="m-0 text-center text-white">Engenharia Web 2017/2018</p>
        <p class="m-0 text-center text-white">Fernando & Hélder & Luís</p>
    </div>
    <!-- /.container -->
</footer>
