<!--TOP-NAVBAR -->
<nav id="top-navbar" class="navbar navbar-expand-md navbar-dark bg-dark py-1 ">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right my-2" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span></button>
      <% if(user) { %>
      <a href="/" class="navbar-brand">
        <h3 class="d-none d-md-inline mt-4"><i class="fa fa-home"></i></h3>
      </a>
        <a href="/index" class="navbar-brand">
          <img src="/img/b-log330.png" alt="" style="width: 100px;">
            </a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-2">
            <a href="/posts" class="nav-link">Postagens</a>
          </li>
          <li class="nav-item px-2">
            <a href="/users" class="nav-link">Utilizadores</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <!-- TODO: Ao clicar nas notificações é feito um pedido para gerar as X novas notificações que tem (comentários/ edits etc) na dashboard -->
            <%if(user.avatar === undefined || user.avatar === ''){%>
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Olá <%=user.name%> <span class="badge badge-light"> 11 </span></a>
            <%} else {%>
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><img style="width: 35px; height: 35px" class="rounded-circle mr-2 mb-1" src="/img/<%= user.avatar%>"> Olá <%=user.name%> <span class="badge badge-light"> 11 </span></a>
            <%}%>
            <div class="dropdown-menu">
              <a href="/profile" class="dropdown-item text-dark"><i class="fa fa-user-circle"></i> Área Pessoal</a>
              <a href="/settings" class="dropdown-item text-dark"><i class="fa fa-gear"></i> Definições</a>
              <a href="/users/logout" class="dropdown-item text-dark"><i class="fa fa-user-times"></i> Sair</a>

            </div>
          </li>
        </ul>
        <%} else { %>
          <a href="/" class="navbar-brand">
                <h3 class="d-none d-md-inline align-middle">Blog</h3>
              </a>
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
              <a href="/users/login" class="nav-link"> Iniciar Sessão</a>
            </li>
            <li class="nav-item px-2">
              <a href="/users/register" class="nav-link"> Registar Conta</a>
            </li>
          </ul>
          <% } %>
    </div>
  </div>
</nav>
