<script src="/js/jquery.min.js"></script>
<script src="/js/datedropper.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div class="card my-4" style="background-color: #226575" id="categorias">
    <h5 class="card-header" style="color: white">Procurar por data</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">
                <label style="color: white" for="from">De</label>
                <input type="text" style="width: 105px" data-lang="pt" data-lock="to" id="from"/>
            </div>
            <div class="col-md-6">
                <label style="color: white" for="to">Até</label>
                <input type="text" style="width: 105px" data-lang="pt" data-lock="to" id="to"/>
            </div>
        </div>

        <script>
            $('#from').dateDropper();
            $('#to').dateDropper();
        </script>

        <button class="btn btn-info btn-rounded mt-3 offset-4" value="confirmar" onclick="getDate()" id="date">Confirmar </button>

        <script>
            function getDate(){
                var valueFrom = $("#from").val().toString();
                var valueTo = $("#to").val().toString();
                var vFrom = valueFrom.split("/");
                var vTo = valueTo.split("/");
                var dateFrom = new Date(valueFrom);
                var dateTo = new Date(valueTo);
                if(parseInt(vFrom[2]) > parseInt(vTo[2])) {
                    swal("Datas devem ser coerentes!");
                }
                else if (parseInt(vFrom[2])==parseInt(vTo[2])){
                    if(parseInt(vFrom[0]) > parseInt(vTo[0])){
                        swal("Datas devem ser coerentes!");
                    }
                    else if(parseInt(vFrom[0])==parseInt(vTo[0])) {
                        if(parseInt(vFrom[1])>parseInt(vTo[1])){
                            swal("Datas devem ser coerentes!");
                        }
                        else{
                            $(".card-footer").find('.dataPost').each(function () {
                                if(!(new Date($(this).val()) > dateFrom && new Date($(this).val()) < dateTo)){
                                    $(this).parent().parent().css('display','none');
                                }
                            });
                        }
                    }
                    else{
                        $(".card-footer").find('.dataPost').each(function () {
                            if(!(new Date($(this).val()) > dateFrom && new Date($(this).val()) < dateTo)){
                                $(this).parent().parent().css('display','none');
                            }
                        });
                    }
                }else {
                    $(".card-footer").find('.dataPost').each(function () {
                        if(!(new Date($(this).val()) > dateFrom && new Date($(this).val()) < dateTo)){
                            $(this).parent().parent().css('display','none');
                        }
                    });
                }
            }
        </script>
    </div>
</div>

