<header id="main-header" class="pt-3 text-white" style="background-color: #236475">
  <!-- //TODO: Passar isto para navbar -->
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
        <h1>
          <i class="fa fa-tachometer"></i> Painel
        </h1>
      </div>
      <div class="col-xs-1 col-sm-6 col-md-2 col-lg-2 my-1 pull-right">
        <button class="btn btn-primary" onclick="toggleThreeColumns();" style="border-radius: 50%;">
          <i  data-toggle="tooltip" data-placement="bottom" title="Alterar Disposição do Painel" class="fa fa-columns" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary" onclick="toggleDefault();" style="border-radius: 50%;">
          <i  data-toggle="tooltip" data-placement="bottom" title="Alterar Disposição do Painel" class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary" onclick="toggleTable();" style="border-radius: 50%;">
          <i  data-toggle="tooltip" data-placement="bottom" title="Alterar para Grelha" class="fa fa-table" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="mb-4">
  <div class="container">
    <%-include('./partials/_msg')%>
  </div>
</section>
<%-include('./partials/_dashboard')%>


<!-- The scroll to top feature -->

<div class="scroll-top-wrapper">
  <span class="scroll-top-inner">
              <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
</div>

<%-include('./partials/_addPost')%>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
