@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300|Pacifico|Lato");
body {
  background-color: #D9ECF2;
  font-family: 'Open Sans', sans-serif;
}

body h1, body h2, body h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 576px) {
  nav .container {
    width: 100%;
  }
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #03A6A6;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 50px;
}

.scroll-top-wrapper:hover {
  background-color: #F24150;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

.blt-btn {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
