@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300|Pacifico|Lato");
body {
  background-color: #D9ECF2;
  font-family: 'Open Sans', sans-serif;
}

body h1, body h2, body h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 576px) {
  nav .container {
    width: 100%;
  }
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #03A6A6;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 50px;
}

.scroll-top-wrapper:hover {
  background-color: #F24150;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

.blt-btn {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.grad {
  /*background: linear-gradient(120deg, rgba(255,0,0,0.4), #03A6A6);*/
  /*background: linear-gradient(120deg, rgba(0,255,0, 0.3), #03A6A6);*/
  /*background: linear-gradient(120deg, rgba(0, 0, 255, 0.3), #03A6A6);*/
}

#dash-card {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -o-transition: all 1s ease;
  /* IE 9 */
  -ms-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

#dash-card:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.05);
}

#button-grp {
  position: fixed;
  z-index: 1000;
  right: 1rem;
  bottom: 7rem;
}

@media only screen and (max-width: 767px) {
  #button-grp {
    left: 15rem;
    bottom: 6rem;
  }
}

#favicon:hover {
  color: #FFFF00;
}

.nome {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.mail {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.comentarios {
  border-radius: 5px;
  background-color: #D9ECF2;
  padding: 20px;
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-facebook:hover{
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-twitter:hover{
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-google:hover {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-reddit:hover {
  background: #ff5700;
  color: white;
}

.avatar {
  border-radius: 10%;
}