<header id="main-header" class="pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-user"></i> Perfil utilizador
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
        <a href="/users" class="btn btn-secondary btn-block"><i class="fa fa-arrow-left"></i> Voltar</a>
      </div>
    </div>
  </div>
</section>

<!-- ACCOUNT EDIT -->
<section id="edit-post-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4><%= user.name%></h4>
          </div>
          <div class="card-block">
            <form class="mx-3 my-3">
              <!--<div class="form-group">-->
                <!--<label for="name">Name</label>-->
                <!--<input type="text" class="form-control" name="name" id="name" value="<%= user.name%>">-->
              <!--</div>-->
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" readonly value="<%= user.email %>">
              </div>
              <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" style="resize: none;" readonly class="form-control"><%- user.bio%></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Imagem de Perfil</h3>
        <img src="img/ava.jpg" alt="" class="d-block img-fluid mb-3">
      </div>
    </div>
  </div>
</section>


<!-- PASSWORD MODAL -->
<div class="modal fade" id="passwordModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="passwordModalLabel">Alterar Palavra-chave</h5>
        <button type="close" name="button" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="password" class="form-control-label">Palavra-chave</label>
            <input type="password" name="" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="password2" class="form-control-label">Confirmar</label>
            <input type="password" name="" value="" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="bn btn-secondary" data-dismiss="modal">Fechar</button>
        <button class="bn btn-warning" data-dismiss="modal">Editar</button>

      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('bio');
</script>