<%-include('../partials/_errors')%>
<%-include('../partials/_msg')%>

<!-- REGISTER FORM -->
<section id="login-section" style="margin-top: 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <h4 class="card-title">REGISTO DE CONTA</h4>
          </div>
          <div class="card-block mx-3 my-3 bg-faded">
            <form action="/users/register" method="post">


                <div class="form-label-group">
                  <input type="text" id="name" name="name" value="<%=name%>" class="form-control" placeholder="Nome" required autofocus>
                  <label for="name">Nome</label>
                </div>
              <div class="form-label-group">
                <input type="email" id="email" name="email" value="<%=email%>" class="form-control" placeholder="Endereço de Email" required autofocus>
                <label for="email" class="">Endereço de Email</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password" name="password" value="" class="form-control" placeholder="Palavra-chave" required>
                <label for="password" class="">Palavra-chave</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="password2" name="password2" value="" class="form-control" placeholder="Confirmar palavra-chave" required>
                <label for="password2" class="">Confirmar Palavra-chave</label>
              </div>
              <button class="btn btn-primary btn-block mb-3">Entrar</button>
              <hr/>
              <div style="text-align: center"><h6>Ou efetue o registo com a sua conta:</h6></div>
              <a href="/auth/google" class="btn btn-secondary col-lg-12 mt-3"><span class="fa fa-google-plus"></span> Google</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
